### Hugo ###
/public/
/.github/workflows/public/
/resources/_gen/
.hugo_build.lock
# Hugo Pipes
/assets/jsconfig.json
hugo_stats.json
# Hugo executable may be added to repository
hugo.exe
hugo.darwin
hugo.linux
# Temporary area
/tmp/
/content/sample_posts/

### JS ###
/node_modules

### Netlify ###
/netlify

### System
.DS_Store

